@page "/allitemstable"

@using ListGenerator.Client.ViewModels;
@using ListGenerator.Shared.Extensions

<RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="5"
            AllowSorting="true" Data="@Items" TItem="ItemOverviewViewModel">
    <Columns>
        @*<RadzenGridColumn TItem="Employee" Property="Photo" Title="Photo" Sortable="false" Filterable="false">
                <Template Context="data">
                    <RadzenImage Path="@data?.Photo" />
                </Template>
            </RadzenGridColumn>*@
        <RadzenGridColumn TItem="ItemOverviewViewModel" Property="Name" Title="Name" />
        <RadzenGridColumn TItem="ItemOverviewViewModel" Property="ReplenishmentPeriodNumber" Width="220px">
            <HeaderTemplate>
                <span class="gridColumndStyle">1 piece is consumed for (days)</span>
            </HeaderTemplate>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="ItemOverviewViewModel" Property="LastReplenishmentQuantity" Title="Last purchase quantity">
            <Template Context="data">
                @if (data.LastReplenishmentQuantity == null)
                {
                    @:-
                }
                else
                {
                    @data.LastReplenishmentQuantity
                }
            </Template>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="ItemOverviewViewModel" Property="LastReplenishmentDate" Title="Last purchase date">
            <Template Context="data">
                @if (data.LastReplenishmentDate == null)
                {
                    @:-
                }
                else
                {
                    @data.LastReplenishmentDate.Value.ToDateString()
                }
            </Template>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="ItemOverviewViewModel" Property="NextReplenishmentDate" Title="Next replenishment date">
            <Template Context="data">
                @data.NextReplenishmentDate.ToDateString()
            </Template>
        </RadzenGridColumn>
    </Columns>
</RadzenGrid>